In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("db1.db")

In [3]:
cur=con.cursor()

In [4]:
query="create table customer(id int,name varchar(250))"
cur.execute(query)

In [5]:
q="insert into customer values(1,'anil')"
cur.execute(q)

In [6]:
q="insert into customer values(2,'ashok')"
cur.execute(q)

In [7]:
con.commit()

In [8]:
q="update customer set name='anil kumar' where id=1"
cur.execute(q)

In [9]:
con.commit()

In [10]:
q="select * from customer"
cur.execute(q)

In [11]:
cur.fetchall()

[(1, u'anil kumar'), (2, u'ashok')]

In [12]:
cur.fetchall()

[]

In [14]:
q="delete from customer where id=1"
cur.execute(q)

In [15]:
con.commit()

In [17]:
q="delete from customer where id=2"
cur.execute(q)
con.commit()

In [18]:
p_id=raw_input("Enter id:")
p_name=raw_input("Enter name:")
q="insert into customer values(%s,'%s')"%(p_id, p_name)
print q

Enter id:1
Enter name:anil
insert into customer values(1,'anil')

In [19]:
p_id=raw_input("Enter id:")
p_name=raw_input("Enter name:")
q="insert into customer values(%s,'%s')"%(p_id, p_name)
print q
cur.execute(q)
con.commit()

Enter id:1
Enter name:anil
insert into customer values(1,'anil')

In [20]:
import random
names=["anil","pavan","rajesh","jayaram","santhosh","sampath"]
for i in range(2,101):
    q="insert into customer values(%s,'%s')"%(i, random.choice(names))
    cur.execute(q)
con.commit()

In [21]:
q="select * from customer where name='santhosh'"
cur.execute(q)
print cur.fetchall()

[(5, u'santhosh'), (7, u'santhosh'), (13, u'santhosh'), (23, u'santhosh'), (27, u'santhosh'), (33, u'santhosh'), (36, u'santhosh'), (44, u'santhosh'), (45, u'santhosh'), (54, u'santhosh'), (57, u'santhosh'), (62, u'santhosh'), (66, u'santhosh'), (69, u'santhosh'), (71, u'santhosh'), (75, u'santhosh'), (98, u'santhosh'), (100, u'santhosh')]

In [22]:
p_name=raw_input("Enter name to search:")
q="select * from customer where name='%s'"%p_name
cur.execute(q)
print cur.fetchall()

Enter name to search:rajesh
[(11, u'rajesh'), (15, u'rajesh'), (16, u'rajesh'), (26, u'rajesh'), (31, u'rajesh'), (32, u'rajesh'), (43, u'rajesh'), (52, u'rajesh'), (55, u'rajesh'), (65, u'rajesh'), (68, u'rajesh'), (81, u'rajesh'), (83, u'rajesh'), (84, u'rajesh'), (85, u'rajesh'), (93, u'rajesh')]

In [23]:
p_name=raw_input("Enter name to search:")
q="select * from customer where name='%s'"%p_name
cur.execute(q)
print cur.fetchall()

Enter name to search:samba
[]

In [24]:
con.close()

In [25]:
import psycopg2
con = psycopg2.connect(host="localhost",user="postgres",password="root",database="db1")
cur = con.cursor()
query="create table customer(id int,name varchar(250))"
cur.execute(query)
import random
names=["anil","pavan","rajesh","jayaram","santhosh","sampath"]
for i in range(1,101):
    q="insert into customer values(%s,'%s')"%(i, random.choice(names))
    cur.execute(q)
con.commit()

In [26]:
p_name=raw_input("Enter name to search:")
q="select * from customer where name='%s'"%p_name
cur.execute(q)
print cur.fetchall()

Enter name to search:anil
[(1, 'anil'), (3, 'anil'), (19, 'anil'), (29, 'anil'), (31, 'anil'), (32, 'anil'), (36, 'anil'), (38, 'anil'), (48, 'anil'), (50, 'anil'), (53, 'anil'), (56, 'anil'), (72, 'anil'), (82, 'anil'), (85, 'anil')]

In [27]:
p_name=raw_input("Enter name to search:")
q="select count(*) from customer where name='%s'"%p_name
cur.execute(q)
print cur.fetchall()

Enter name to search:anil
[(15L,)]

In [28]:
p_name=raw_input("Enter name to search:")
q="select count(*) from customer where name='%s'"%p_name
cur.execute(q)
print cur.fetchall()

Enter name to search:rajesh
[(15L,)]

In [29]:
p_name=raw_input("Enter name to search:")
q="select count(*) from customer where name='%s'"%p_name
cur.execute(q)
print cur.fetchall()

Enter name to search:santhosh
[(14L,)]

In [30]:
p_name=raw_input("Enter name to search:")
q="select * from customer where name='%s'"%p_name
cur.execute(q)
data = cur.fetchall()
print len(data)

Enter name to search:santhosh
14

In [31]:
p_name=raw_input("Enter name to search:")
q="select * from customer"
cur.execute(q)
data = cur.fetchall()
for row in data:
    if row[1]==p_name:
        print row

Enter name to search:anil
(1, 'anil')
(3, 'anil')
(19, 'anil')
(29, 'anil')
(31, 'anil')
(32, 'anil')
(36, 'anil')
(38, 'anil')
(48, 'anil')
(50, 'anil')
(53, 'anil')
(56, 'anil')
(72, 'anil')
(82, 'anil')
(85, 'anil')

In [32]:
print "1.Register\n2.Login"

1.Register
2.Login

In [33]:
flag = raw_input("1.Register\n2.Login:")

1.Register
2.Login:1

In [34]:
flag

'1'

In [35]:
flag = raw_input("1.Register\n2.Login:")
if flag=="1":
    p_id=raw_input("Enter customer id:")
    p_name=raw_input("Enter customer name:")
    q="insert into customer values(%s,'%s')"%(p_id, p_name)
    cur.execute(q)
    con.commit()

1.Register
2.Login:1
Enter customer id:101
Enter customer name:costomer101

In [38]:
flag = raw_input("1.Register\n2.Login:")
if flag=="1":
    p_id=raw_input("Enter customer id:")
    p_name=raw_input("Enter customer name:")
    q="insert into customer values(%s,'%s')"%(p_id, p_name)
    cur.execute(q)
    con.commit()
elif flag=="2":
    p_name=raw_input("Enter name to login:")
    q="select * from customer where name='%s'"%p_name
    cur.execute(q)
    data = cur.fetchall()
    if data:
        print "login successfully"
    else:
        print "not able to find the user with the name"

1.Register
2.Login:2
Enter name to login:santhosh
login successfully

In [39]:
flag = raw_input("1.Register\n2.Login:")
if flag=="1":
    p_id=raw_input("Enter customer id:")
    p_name=raw_input("Enter customer name:")
    q="insert into customer values(%s,'%s')"%(p_id, p_name)
    cur.execute(q)
    con.commit()
elif flag=="2":
    p_name=raw_input("Enter name to login:")
    q="select * from customer where name='%s'"%p_name
    cur.execute(q)
    data = cur.fetchall()
    if data:
        print "login successfully"
    else:
        print "not able to find the user with the name"

1.Register
2.Login:2
Enter name to login:samba
not able to find the user with the name

In [40]:
while True:
    flag = raw_input("1.Register\n2.Login\nq.quit:")
    if flag=="q":
        break
    if flag=="1":
        p_id=raw_input("Enter customer id:")
        p_name=raw_input("Enter customer name:")
        q="insert into customer values(%s,'%s')"%(p_id, p_name)
        cur.execute(q)
        con.commit()
    elif flag=="2":
        p_name=raw_input("Enter name to login:")
        q="select * from customer where name='%s'"%p_name
        cur.execute(q)
        data = cur.fetchall()
        if data:
            print "login successfully"
        else:
            print "not able to find the user with the name"

1.Register
2.Login
q.quit:1
Enter customer id:samba
Enter customer name:samba

ProgrammingError: column "samba" does not exist
LINE 1: insert into customer values(samba,'samba')
                                    ^

In [41]:
while True:
    flag = raw_input("1.Register\n2.Login\nq.quit:")
    if flag=="q":
        break
    if flag=="1":
        p_id=raw_input("Enter customer id:")
        p_name=raw_input("Enter customer name:")
        q="insert into customer values(%s,'%s')"%(p_id, p_name)
        cur.execute(q)
        con.commit()
    elif flag=="2":
        p_name=raw_input("Enter name to login:")
        q="select * from customer where name='%s'"%p_name
        cur.execute(q)
        data = cur.fetchall()
        if data:
            print "login successfully"
        else:
            print "not able to find the user with the name"

1.Register
2.Login
q.quit:1
Enter customer id:103
Enter customer name:samba

InternalError: current transaction is aborted, commands ignored until end of transaction block