In [1]:
l=[1,2,3,4]
print [i+10 for i in l]

[11, 12, 13, 14]

In [2]:
l=[1,2,3,4]
print [i+10 for i in l]
print (i+10 for i in l)

[11, 12, 13, 14]
<generator object <genexpr> at 0x7fbb09d4d960>

In [3]:
l=[1,2,3,4]
res1 = [i+10 for i in l]
res2 = (i+10 for i in l)
for i in res1:
    print i
print "*"*20
for i in res2:
    print i

11
12
13
14
********************
11
12
13
14

In [4]:
l=[1,2,3,4]
t=(1,2,3,4)
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
print l
print t
print person

[1, 2, 3, 4]
(1, 2, 3, 4)
{'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'anil kumar', 'pan': 'sdfwer324', 'sal': 2142345}

In [5]:
l=[1,2,3,4]
t=(1,2,3,4)
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
print l
print t
print person
for i in l:
    print i
for i in t:
    print i
for i in person:
    print i

[1, 2, 3, 4]
(1, 2, 3, 4)
{'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'anil kumar', 'pan': 'sdfwer324', 'sal': 2142345}
1
2
3
4
1
2
3
4
adhar
age
name
pan
sal

In [6]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
person["name"]="Ajay kumar"
print person

{'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}

In [7]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
person["phone"]="9676622023"
print person

{'name': 'anil kumar', 'sal': 2142345, 'age': 23, 'phone': '9676622023', 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324'}

In [8]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
address = {"street":"maithrivanam","landmark": "Near Krithunga"}
print person+address

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [9]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
address = {"street":"maithrivanam","landmark": "Near Krithunga"}
print person-ddress

NameError: name 'ddress' is not defined

In [10]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
address = {"street":"maithrivanam","landmark": "Near Krithunga"}
print person*address

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [11]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
address = {"street":"maithrivanam","landmark": "Near Krithunga"}
print person/address

TypeError: unsupported operand type(s) for /: 'dict' and 'dict'

In [12]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
address = {"street":"maithrivanam","landmark": "Near Krithunga"}
print person>address

True

In [13]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32"}
address = {"street":"maithrivanam","landmark": "Near Krithunga"}
print person==address

False

In [14]:
d1={1:2,3:4}
d2={1:2,3:4}
d1==d2

True

In [15]:
d1={1:2,3:4}
d2={3:4,1:2}
d1==d2

True

In [16]:
d1={1:2,3:4}
d2={2:3,3:4}
d1<d2

True

In [17]:
d1={1:2,3:4}
d2={1:3,3:4}
d1<d2

True

In [18]:
d1={1:4,3:4}
d2={1:3,3:4}
d1<d2

False

In [19]:
d1 & d2

TypeError: unsupported operand type(s) for &: 'dict' and 'dict'

In [20]:
person = {"name":"anil kumar","age":23,"sal":2142345,"pan":"sdfwer324","adhar":"sdfgfdgwqer32","name":"Ajay kumar"}

In [21]:
print person

{'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}

In [22]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per1=per
per1["name"]="JAYARAM"
print per1
print per

{'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'JAYARAM'}
{'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'JAYARAM'}

In [23]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per1={'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per1["name"]="JAYARAM"
print per1
print per

{'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'JAYARAM'}
{'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'Ajay kumar'}

In [24]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per.clear()
print per

{}

In [25]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per1=per
per.clear()
print per
print per1

{}
{}

In [26]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per1={'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per.clear()
print per
print per1

{}
{'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'Ajay kumar'}

In [27]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
per1=per.copy()
per2=per
per.clear()
print per
print per2
print per1

{}
{}
{'name': 'Ajay kumar', 'age': 23, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'sal': 2142345}

In [28]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
for i in per:
    print i

age
sal
adhar
pan
name

In [29]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
for i in per:
    print i,per[i]

age 23
sal 2142345
adhar sdfgfdgwqer32
pan sdfwer324
name Ajay kumar

In [30]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
print per["name"]

Ajay kumar

In [31]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
print per["name"],per["age"]

Ajay kumar 23

In [32]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
print per["phone"]

KeyError: 'phone'

In [34]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
print per.get("name")
print per["name"]

Ajay kumar
Ajay kumar

In [35]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
print per.get("phone")
print per["phone"]

None

KeyError: 'phone'

In [36]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
print per.get("phone","0000000000")
print per["phone"]

0000000000

KeyError: 'phone'

In [37]:
keys=range(10)
d={}
d1=d.fromkeys(keys,"Default value")
print d1

{0: 'Default value', 1: 'Default value', 2: 'Default value', 3: 'Default value', 4: 'Default value', 5: 'Default value', 6: 'Default value', 7: 'Default value', 8: 'Default value', 9: 'Default value'}

In [38]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
if "phone" in per:
    print per["phone"]
else:
    print ""

In [39]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
if 23 in per:
    print per["phone"]
else:
    print ""

In [40]:
per = {'adhar': 'sdfgfdgwqer32', 'age': 23, 'name': 'Ajay kumar', 'pan': 'sdfwer324', 'sal': 2142345}
if "name" in per:
    print per["name"]
else:
    print ""

Ajay kumar

In [41]:
per.keys()

['age', 'sal', 'adhar', 'pan', 'name']

In [42]:
per.has_key("name")

True

In [43]:
per.has_key("phone")

False

In [44]:
per.values()

[23, 2142345, 'sdfgfdgwqer32', 'sdfwer324', 'Ajay kumar']

In [45]:
23 in per.values()

True

In [47]:
print per

{'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'Ajay kumar'}

In [48]:
per.items()

[('age', 23),
 ('sal', 2142345),
 ('adhar', 'sdfgfdgwqer32'),
 ('pan', 'sdfwer324'),
 ('name', 'Ajay kumar')]

In [49]:
for i in per:
    print i

age
sal
adhar
pan
name

In [50]:
for i in per.items():
    print i

('age', 23)
('sal', 2142345)
('adhar', 'sdfgfdgwqer32')
('pan', 'sdfwer324')
('name', 'Ajay kumar')

In [51]:
for i in per.items():
    key,value = i
    print key, value

age 23
sal 2142345
adhar sdfgfdgwqer32
pan sdfwer324
name Ajay kumar

In [52]:
for key,value in per.items():
    print key, value

age 23
sal 2142345
adhar sdfgfdgwqer32
pan sdfwer324
name Ajay kumar

In [53]:
per = {'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'Ajay kumar'}
per["phone"]=4567890
per.setdefault("city","hyderabad")
print per

{'city': 'hyderabad', 'name': 'Ajay kumar', 'sal': 2142345, 'age': 23, 'phone': 4567890, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324'}

In [54]:
per = {'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'Ajay kumar'}
address = {"street":",aithrivanam","city":"HYD","state":"TS"}
per.setdefault("address",address)
print per

{'name': 'Ajay kumar', 'sal': 2142345, 'age': 23, 'adhar': 'sdfgfdgwqer32', 'address': {'city': 'HYD', 'state': 'TS', 'street': ',aithrivanam'}, 'pan': 'sdfwer324'}

In [55]:
per = {'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'Ajay kumar'}
address = {"street":",aithrivanam","city":"HYD","state":"TS"}
per.update(address)
print per
print address

{'city': 'HYD', 'name': 'Ajay kumar', 'sal': 2142345, 'age': 23, 'state': 'TS', 'street': ',aithrivanam', 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324'}
{'city': 'HYD', 'state': 'TS', 'street': ',aithrivanam'}

In [56]:
per = {'age': 23, 'sal': 2142345, 'adhar': 'sdfgfdgwqer32', 'pan': 'sdfwer324', 'name': 'Ajay kumar'}
for key,value in per.items():
    print key, value
print "*"*20
for key,value in per.iteritems():
    print key, value
print "*"*20
for key,value in per.viewitems():
    print key, value
print "*"*20

name Ajay kumar
age 23
adhar sdfgfdgwqer32
pan sdfwer324
sal 2142345
********************
name Ajay kumar
age 23
adhar sdfgfdgwqer32
pan sdfwer324
sal 2142345
********************
name Ajay kumar
age 23
adhar sdfgfdgwqer32
pan sdfwer324
sal 2142345
********************

In [57]:
d={"int":1,"float":1.2,"list":[1,2,3,4],"tuple":(1,2,3,4),"dict":{1:2,3:4,5:6},"complex":1+2j,"boolean":True}