In [1]:
name="Anil kumar"
# Given name is Anil kumar
print "Given name is",name

Given name is Anil kumar

In [2]:
name="Anil kumar"
# Given name is Anil kumar
print "Given name is , name"

Given name is , name

In [3]:
name="Anil kumar"
# Given name is Anil kumar
print "Given name is"name

SyntaxError: invalid syntax (<ipython-input-3-c865931fdd78>, line 3)

In [4]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name

Name: Anil

In [5]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name,"Age:",age,"Height:",height

Name: Anil Age: 23 Height: 5.6

In [6]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name,", Age:",age,", Height:",height

Name: Anil , Age: 23 , Height: 5.6

In [7]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:,",name,"Age:",age,", Height:",height

Name:, Anil Age: 23 , Height: 5.6

In [8]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name,", Age:",age,", Height:",height

Name: Anil , Age: 23 , Height: 5.6

In [9]:
name="Anil"
res="Given name is:"+name
print res

Given name is:Anil

In [10]:
name="Anil"
print "Given name is:"+name
print "Given name is:",name

Given name is:Anil
Given name is: Anil

In [11]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",age,", Height:",height

Name: Anil, Age: 23 , Height: 5.6

In [ ]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",age+", Height:",height

In [12]:
10+20

30

In [13]:
"str1"+"str2"

'str1str2'

In [14]:
"str1"+23

TypeError: cannot concatenate 'str' and 'int' objects

In [15]:
a=10
b="str1"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
cost=23
# product cost:23
print "product cost:",23

product cost: 23

In [17]:
cost=23
# product cost:23
res = "product cost:"+cost
print res
print "product cost:",cost

TypeError: cannot concatenate 'str' and 'int' objects

In [18]:
cost=23
# product cost:23
res = "product cost:"+str(cost)
print res
print "product cost:",cost

product cost:23
product cost: 23

In [20]:
a=23
b="45"
c=str(a) #"23"
print type(a),a
print type(b),b
print type(c),c

<type 'int'> 23
<type 'str'> 45
<type 'str'> 23

In [21]:
a=10
b=23.45
c=1+2j
print str(a)
print str(b)
print str(c)

10
23.45
(1+2j)

In [22]:
a="12"
b="34"
print a+b

1234

In [23]:
c1="12"
c2="34"
print c1+c2

1234

In [25]:
c1="12"
c2="34"
print c1+c2
c3=int(c1)
c4=int(c2)
print type(c3),type(c4)
print c3+c4

1234
<type 'int'> <type 'int'>
46

In [26]:
c1="12"
print int(c1)
c2="1.2"
print int(c2)

12

ValueError: invalid literal for int() with base 10: '1.2'

In [27]:
c1="12"
print int(c1)
print 2*10**0+1*10**1

12
12

In [28]:
c1="12"
print int(c1)
c2="1.2"
# 2*10**0+
print int(c2)

12

ValueError: invalid literal for int() with base 10: '1.2'

In [29]:
c2="1.2"
c3=float(c2)
print c3, type(c3)
c4=int(c3)
print c4,type(c4)

1.2 <type 'float'>
1 <type 'int'>

In [30]:
cell = 9676622023
print hex(cell)

0x240c588c7

In [31]:
c="240c588c7"
c1=int(c)
print c1

ValueError: invalid literal for int() with base 10: '240c588c7'

In [32]:
c="240c588c7"
c1=int(c,16)
print c1

9676622023

In [33]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",age+", Height:",height

Name: Anil, Age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",str(age)+", Height:",height

 Name: Anil, Age: 23, Height: 5.6

In [35]:
print "line1"
print "line2"

line1
line2

In [36]:
print "line1\nline2"

line1
line2

In [38]:
print "line1\nline2\nline3\ttabspace\ttabspace2\ttabspace3"

line1
line2
line3	tabspace	tabspace2	tabspace3

In [40]:
#line1\nline2
print "line1\nline2"

line1
line2

In [41]:
#line1\nline2
print "line1\\nline2"

line1\nline2

In [42]:
s="sjfkljsd\ndsfsdf\tsdfsdf\nsdfsd\tdsfsdfsd\tsdfsdfsd\nsdfsdf\tsdfsdfsdf\n"
print s

sjfkljsd
dsfsdf	sdfsdf
sdfsd	dsfsdfsd	sdfsdfsd
sdfsdf	sdfsdfsdf

In [43]:
s="sjfkljsd\\ndsfsdf\\tsdfsdf\\nsdfsd\\tdsfsdfsd\\tsdfsdfsd\\nsdfsdf\\tsdfsdfsdf\\n"
print s

sjfkljsd\ndsfsdf\tsdfsdf\nsdfsd\tdsfsdfsd\tsdfsdfsd\nsdfsdf\tsdfsdfsdf\n

In [44]:
s=r"sjfkljsd\ndsfsdf\tsdfsdf\nsdfsd\tdsfsdfsd\tsdfsdfsd\nsdfsdf\tsdfsdfsdf\n"
print s

sjfkljsd\ndsfsdf\tsdfsdf\nsdfsd\tdsfsdfsd\tsdfsdfsd\nsdfsdf\tsdfsdfsdf\n

In [45]:
s="python program"
print len(s)

14

In [46]:
s="python\nprogram"
print len(s)

14

In [47]:
s="python\nprogram\n\n\n"
print len(s)

17

In [48]:
s=r"python\nprogram\n\n\n"
print len(s)

21

In [49]:
# It's a cool day in hyderabad
print "It's a cool day in hyderabad"

It's a cool day in hyderabad

In [50]:
# It's a cool day in hyderabad
print 'It's a cool day in hyderabad'

SyntaxError: invalid syntax (<ipython-input-50-7d3a8360eeef>, line 2)

In [51]:
# It's a cool day in hyderabad
print 'It\'s a cool day in hyderabad'

It's a cool day in hyderabad

In [52]:
# It's a cool day in "hyderabad"
print 'It\'s a cool day in hyderabad'

It's a cool day in hyderabad

In [53]:
# It's a cool day in "hyderabad"
print 'It\'s a cool day in "hyderabad"'

It's a cool day in "hyderabad"

In [54]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",str(age)+", Height:",height
# format specefiers: %s, %d, %f, %o %x %X %r

Name: Anil, Age: 23, Height: 5.6

In [55]:
print "%s,%d,%f,%r"

%s,%d,%f,%r

In [56]:
cost=23
# product cost:23
print "product cost:"+str(cost)

product cost:23

In [57]:
cost=23
# product cost:23
print "product cost:"+str(cost)
print "product cost:%s",cost

product cost:23
product cost:%s 23

In [58]:
cost=23
# product cost:23
print "product cost:"+str(cost)
print "product cost:%s"%cost

product cost:23
product cost:23

In [59]:
a=1234567
print "%s"%a
print "%o"%a
print "%x"%a
print "%X"%a

1234567
4553207
12d687
12D687

In [60]:
cost=23.456789
print "product cost: %f"%cost

product cost: 23.456789

In [61]:
cost=23.456789
print "product cost: %.2f"%cost

product cost: 23.46

In [63]:
cost=23.456789
cost_f=float(cost)
print cost_f
print "product cost: %.2f"%cost

23.456789
product cost: 23.46

In [64]:
float?

In [65]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",str(age)+", Height:",height
# format specefiers: %s, %d, %f, %o %x %X %r
print "Name: %s, Age: %s, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 23, Height: 5.6

In [67]:
print "Name:%s"%name

Name:Anil

In [68]:
print "%s",name

%s Anil

In [69]:
print "%s"%name

Anil